@font-face {
  font-family: rebellionSquad;
  src: url("RebellionSquad-ZpprZ.ttf");
}

h2 {
  font-family: rebellionSquad;
  font-size: 50px;
  color: #00585f;
  font-weight: 100;
  margin-top: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  perspective: 1000px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

canvas {
  border: 2px solid black;
  display: block;
  margin: 0 auto;
  transform-style: preserve-3d;
  background-color: #ebe6e0;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-width: 150px;
  border-radius: 10px;
  background-color: #00585f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.position {
  display: flex;
  flex-direction: row;
}

#playerColor {
  margin-bottom: 2rem;
  font-size: 16px;
  display: none;
}

#guide {
  font-size: 12px;
  color: #535353;
  margin-top: 1rem;
  text-align: center;
  max-width: 300px;
}
